
.global-overlay {
    z-index: 10000000000;
}
.overlay {
    background-color: transparent;
}
#left-side {
    background: url('../img/my-img/section-one-background.jpg');
    background-size: cover;
}

